.special-gothic-expanded-one-regular {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    background-image: url("../assets/images/wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: "Special Gothic Expanded One", sans-serif;
}

.corp{
      padding-top: 7%;
}
h1 {
    text-align: center;
    font-size: 35px;
}


.text{
    font-size: 20px;
    text-align: center;
}
cards {
    display: flex;
    flex-direction: row; 
    width: 100%;
    height: 500px;         
    justify-content: center; 
}

content-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 50%;         
    box-sizing: border-box; 
    
    
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    
    
    padding: 20px; 
    margin: 10px; 
}

side-content{
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
 
               